git remote set-url origin https://github.com/irem-kaya/address-hackathon.git .venv/
.vscode/
**/__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.ipynb_checkpoints/
data/
.venv/
venv_backup/
address_hackathon.egg-info/
